<StackLayout class="p-10">
  <TextField [(ngModel)]="newName" [hint]="'INPUT_COMPANY_HINT' | translate" autocorrect="false" autocapitalizationType="none"></TextField>
  <Button [text]="'ADD_BTN_TEXT' | translate" (tap)="addName()" class="btn btn-primary"></Button>

  <ListView [items]="companynames$ | async" row="1" colSpan="2" height="300">
    <template let-name="item" let-odd="odd" let-even="even">
      <StackLayout [class.odd]="odd" [class.even]="even" class="list-item">
        <Label [text]="companyname"></Label>
      </StackLayout>
    </template>
  </ListView>

  <Button (tap)="readAbout()" text="Read all about it" class="btn btn-outline"></Button>
</StackLayout>
